@model NewsApplication.Application.EntityCQ.Admin.Announcements.ViewModels.AnnouncementDetailForAdminViewModel

@{
    ViewBag.Title = "Ətraflı";
}

<div class="container">
    <div class="row">
        <div class="col-12 py-3">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">
                        @Model.Description
                    </p>
                    <a href="#" class="btn btn-primary">
                        @Model.LikeCount
                        <i class="far fa-thumbs-up"></i>
                    </a>
                    <a href="#" class="btn btn-primary">
                        @Model.DislikeCount
                        <i class="far fa-thumbs-down"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h2>Şərhlər</h2>
        </div>
        @if (Model.Comments is not null)
        {
            foreach (var comment in Model.Comments)
            {
                <div class="col-12 py-2">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <p>
                                @comment.UserName @comment.UserSurname
                            </p>
                            <a href=""><i class="fas fa-trash-alt"></i></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@comment.Text</p>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>