@model List<NewsApplication.Application.ViewModels.Admin.Announcements.ViewModels.AnnouncementForAdminViewModel>?

@{
    ViewBag.Title = "Admin Xəbərlər";
}

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Xəbər başlığı</th>
            <th scope="col">Bəyənilmə sayı <i class="far fa-thumbs-up"></i></th>
            <th scope="col">Bəyənilməmə sayı <i class="far fa-thumbs-down"></i></th>
            <th scope="col">Əməliyyatlar</th>
        </tr>
        </thead>
        <tbody>
        @if (Model is not null)
        {
            var i = 0;
            foreach (var announcement in Model)
            {
                <tr>
                    <th scope="row">@(++i)</th>
                    <td>@announcement.Title</td>
                    <td>@announcement.LikeCount</td>
                    <td>@announcement.DislikeCount</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Announcement" asp-action="Detail" asp-route-id="@announcement.Id">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        
        </tbody>
    </table>
</div>